<div id="map" style="height: {{ page.map_height | default: '500px' }};"></div>

<script type="text/javascript">
var _map = {{ layout.map_var }} = L.map(
    "map", // DOM id of div element
    {
        fullscreenControl: true,

        // default to centered on Richmond and zoomed to the area
        center: L.latLng(37.54057, -77.43338),
        zoom: 10,

        layers: [
            L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 19,
                attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
            }),
        ]
    },
);
</script>
